<% if thumbs_up_people.include?(current_user) %>
  <%= link_to remove_thumbs_up_edition_project_url(@edition, @project), method: :delete, data: { confirm: 'Are you sure to remove your thumbs up?' }, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-thumbs-down"></span>
    Remove my thumbs up
  <% end %>
<% else %>
  <%= link_to add_thumbs_up_edition_project_url(@edition, @project), class: 'btn btn-success' do %>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Give thumbs up
  <% end %>
<% end %>

<% if @project.subscribers.include?(current_user) %>
  <%= link_to remove_subscriber_edition_project_url(@edition, @project), method: :delete, data: { confirm: 'Are you sure to remove yourself from this project?' }, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-ban-circle"></span>
    Remove myself from this project
  <% end %>
<% else %>
  <%= link_to add_subscriber_edition_project_url(@edition, @project), class: 'btn btn-success' do %>
    <span class="glyphicon glyphicon-heart"></span>
    I want to help this project
  <% end %>
<% end %>
