@import "bootstrap-generators";
@import "google_button";

#navbar .logout img {
  width: 23px;
  padding-right: 5px;
}

.thumbnail.user {
  &.allusers-cards {
      height: 400px;
  }

  img {
    width: 155px;
    height: 155px;
    background-color: grey;
  }
}

.projects-list tr {
  padding: 15px 10px;
  cursor: pointer;
}

.project-show {
  .subscribers-list {
    .media {
      margin-top: 20px;
      width: 450px;
    }

    .media-object {
      width: 48px;
      height: 48px;
    }
  }
}

.badge.notifications_count {
  background-color: red;
}

.notifications .list-group-item.link {
  cursor: pointer;
}
