@import "bootstrap-generators";
@import "google_button";

#navbar .logout img {
  width: 23px;
  padding-right: 5px;
}

.thumbnail.user {
  &.allusers-cards {
      height: 400px;
  }

  img {
    width: 155px;
    height: 155px;
    background-color: grey;
  }
}

.projects-list tr {
  padding: 15px 10px;
  cursor: pointer;
}
