@import "bootstrap-generators";
@import "google_button";

#navbar .logout img {
  width: 23px;
  padding-right: 5px;
}

.thumbnail.user {
  &.allusers-cards {
      height: 400px;
  }

  img {
    width: 155px;
    height: 155px;
    background-color: grey;
  }
}

.projects-list {
    cursor: pointer;
    .labels {
    padding: 10px 0 0 0;
    a {
      text-decoration: none;
    }
  }
}

.badge.notifications_count {
  background-color: red;
}

.notifications .list-group-item.link {
  cursor: pointer;
}

.label.label-dark {
  color: #666666;
}
